<div class="col-md-12">
    <div class="btn-group btn-group-justified" style="margin-bottom: 10px;">
        <a class="btn btn-success" ui-sref=".new" ui-sref-active="active" >New Game</a>
        <a class="btn btn-info" ui-sref=".ownopen" ui-sref-active="active" >My Open Games</a>
        <a class="btn btn-info" ui-sref=".ownplaying" ui-sref-active="active" >My Playing Games</a>
        <a class="btn btn-info" ui-sref=".ownfinished" ui-sref-active="active" >My Finished Games</a>
    </div>
    <div class="btn-group btn-group-justified" style="margin-bottom: 10px;">
        <a class="btn btn-primary" ui-sref=".open" ui-sref-active="active" >Open</a>
        <a class="btn btn-primary" ui-sref=".playing" ui-sref-active="active" >Playing</a>
        <a class="btn btn-primary" ui-sref=".finished" ui-sref-active="active" >Finished</a>
    </div>
</div>

<div ui-view></div>